@charset "UTF-8";
@media screen and (min-width: 3001px) {
    html {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: #000;
        color: #fff;
        font-family: "HGSｺﾞｼｯｸM", "ＭＳ Ｐゴシック", "ＭＳ ゴシック", sans-serif;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        font-size: 35px;
    }
}

@media screen and (min-width: 2601px) and (max-width: 3000px) {
    html {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: #000;
        color: #fff;
        font-family: "HGSｺﾞｼｯｸM", "ＭＳ Ｐゴシック", "ＭＳ ゴシック", sans-serif;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        font-size: 30px;
    }
}

@media screen and (min-width: 2001px) and (max-width: 2600px) {
    html {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: #000;
        color: #fff;
        font-family: "HGSｺﾞｼｯｸM", "ＭＳ Ｐゴシック", "ＭＳ ゴシック", sans-serif;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        font-size: 24px;
    }
}

@media screen and (min-width: 1601px)and (max-width: 2000px) {
    html {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: #000;
        color: #fff;
        font-family: "HGSｺﾞｼｯｸM", "ＭＳ Ｐゴシック", "ＭＳ ゴシック", sans-serif;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        font-size: 20px;
    }
}

@media screen and (min-width: 1401px)and (max-width: 1600px) {
    html {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: #000;
        color: #fff;
        font-family: "HGSｺﾞｼｯｸM", "ＭＳ Ｐゴシック", "ＭＳ ゴシック", sans-serif;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        font-size: 15px;
    }
}

@media screen and (min-width: 1024px)and (max-width: 1400px) {
    html {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: #000;
        color: #fff;
        font-family: "HGSｺﾞｼｯｸM", "ＭＳ Ｐゴシック", "ＭＳ ゴシック", sans-serif;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        font-size: 12px;
    }
}

@media screen and (max-width: 1024px) {
    html {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: #000;
        color: #fff;
        font-family: "HGSｺﾞｼｯｸM", "ＭＳ Ｐゴシック", "ＭＳ ゴシック", sans-serif;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        font-size: 0.65em;
    }
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    font-size: 140%;
    font-family: "HGSｺﾞｼｯｸM", "ＭＳ Ｐゴシック", "ＭＳ ゴシック", sans-serif;
    position: relative;
    overflow-x: hidden;
}

a {
    text-decoration: none
}

a:link {
    color: #fff;
}

a:visited {
    color: #fff;
}

a:hover {
    color: #ff8000;
}

a:active {
    color: #fff;
}

#wrap {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    position: absolute;
    z-index: 60;
}

.back {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-image: url(/2016/images/IMG_0934.JPG);
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    height: 8%;
    background-color: black;
    position: relative;
    z-index: 30001;
}

header p {
    display: inline-block;
    position: absolute;
    top: 12%;
    left: 2%;
}

.logo {
    height: 100%;
    width: auto;
}

.swide {
    width: 100%;
    height: 100%;
    background-color: black;
    position: fixed;
    z-index: 99900000;
    text-align: center;
    display: none;
    font-size: 120%;
}

.link {
    font-size: 90%;
    display: inline-block;
    position: absolute;
    bottom: 35%;
    right: 10%;
    box-sizing: border-box;
}

nav {
    height: 92%;
    width: 32%;
    box-sizing: border-box;
    position: fixed;
    top: 8%;
    z-index: 3300;
    float: left;
}

nav li {
    height: 20%;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(255, 235, 42, 0.8);
    border-bottom: 1px solid #fff;
    text-align: center;
    list-style: none;
    position: relative;
    right: 86%;
    bottom: 0%;
    overflow: hidden;
    z-index: 3310;
}

.light {
    width: 14%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

.light0 {
    background-color: rgba(255, 235, 42, 0.8);
}

.light1 {
    background-color: rgba(255, 235, 42, 0.8);
}

.light2 {
    background-color: rgba(255, 235, 42, 0.8);
}

.light3 {
    background-color: rgba(255, 235, 42, 0.8);
}

.light4 {
    background-color: rgba(255, 235, 42, 0.8);
}

.light5 {
    background-color: rgba(255, 235, 42, 0.8);
}

.nav1 {
    width: 100%;
    z-index: 30;
}

nav li img {
    height: 50%;
    width: auto;
    z-index: 30;
    position: relative;
    z-index: 6000;
    top: 25%;
}

.home {
    width: 32%;
    height: 8%;
    position: fixed;
    top: 0;
    left: -27.51%;
    background-color: rgba(255, 235, 42, 0.8);
    z-index: 30000;
    border-bottom: 1px solid #fff;
    text-align: center;
}

.home img {
    height: 50%;
    width: auto;
    margin-top: 2%;
}

.button {
    height: 25%;
    width: 4%;
    background-color: darkgreen;
    position: fixed;
    top: 8%;
    left: 15%;
    box-sizing: border-box;
    z-index: 30000;
}

.button img {
    width: 100%;
    height: auto;
    z-index: 30000;
}

.menu {}

nav li,
.menu,
.home:hover {
    cursor: pointer;
}

.news {
    height: 50%;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    bottom: 0;
    z-index: 3320;
    box-sizing: border-box;
    overflow: hidden;
}

.news p {
    color: black;
    font-size: 120%;
}

.head {
    height: 10%;
    box-sizing: border-box;
    padding-left: 5%;
    display: block;
}

.new-p {
    height: 15%;
    color: black;
    border-bottom: 1px dashed black;
    padding-left: 5%;
}

.new-p a:visited {
    color: black;
}

.new-p a:link {
    color: black;
}

.new-p a:active {
    color: black;
}

.new-p a:hover {
    color: #ff8000;
}

.article {
    position: relative;
    top: 100%;
    width: 100%;
    overflow: hidden;
}

.info {
    width: 100%;
    height: 120%;
    position: absolute;
    top: 100%;
    background-color: bisque;
    clear: both;
}

.acc {
    width: 100%;
    height: 120%;
    position: absolute;
    top: 220%;
    background-color: black;
}

.pv {
    width: 100%;
    height: 120%;
    position: absolute;
    top: 340%;
    background-color: gold;
}

.event {
    width: 100%;
    height: 120%;
    position: absolute;
    top: 460%;
    background-color: black;
}

.map {
    width: 100%;
    height: 120%;
    position: absolute;
    top: 580%;
    background-color: indigo;
}

.img-filter {
    top: 10%;
    opacity: 0.5;
    filter: alpha(opacity=50);
    color: #2f4f4f;
    border-radius: 35%;
}

.img1 {
    width: 70%;
    height: 70%;
    z-index: 10;
    background-image: url(/2016/images/IMG_0979.JPG);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0%;
    left: 10%;
    display: inline-block;
    opacity: 0;
}

.art1 {
    width: 30%;
    height: auto;
    display: inline-block;
    position: absolute;
    left: 110%;
    top: 10%;
    z-index: 20;
    font-size: 2.0em;
    opacity: 0;
}

.img4 {
    width: 70%;
    height: 70%;
    z-index: 10;
    background-image: url(/2016/images/IMG_0979.JPG);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 15%;
    left: 60%;
    display: inline-block;
    opacity: 0;
}

.art4 {
    width: 30%;
    height: auto;
    display: inline-block;
    position: absolute;
    left: 60%;
    top: 60%;
    z-index: 20;
    font-size: 2.0em;
    opacity: 0;
}

.img3 {
    width: 70%;
    height: 70%;
    z-index: 10;
    background-image: url(/2016/images/IMG_0979.JPG);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 15%;
    left: -40%;
    display: inline-block;
    opacity: 0;
}

.art3 {
    width: 30%;
    height: auto;
    display: inline-block;
    position: absolute;
    left: 110%;
    top: 10%;
    z-index: 20;
    font-size: 2.0em;
    opacity: 0;
}

.img2 {
    width: 70%;
    height: 80%;
    z-index: 1;
    background-image: url(/2016/images/IMG_0968.JPG);
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 60%;
    display: inline-block;
    top: 10%;
    opacity: 0;
}

.art2 {
    width: 30%;
    height: auto;
    display: inline-block;
    position: absolute;
    left: 10%;
    top: 100%;
    z-index: 20;
    font-size: 2.0em;
    opacity: 0;
}

.img5 {
    width: 70%;
    height: 80%;
    z-index: 1;
    background-image: url(/2016/images/IMG_0968.JPG);
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 20%;
    top: 80%;
    display: inline-block;
    opacity: 0;
}

.art5 {
    width: 30%;
    display: inline-block;
    position: absolute;
    left: 10%;
    top: -60%;
    z-index: 20;
    font-size: 2.0em;
    opacity: 0;
}

.s {
    width: 100%;
    height: auto;
}

#bl {
    background-color: black;
}